.wall {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.oneCard {
    max-width: 150px;
    margin-left: 20px !important;
}

.windDir {
    max-width: 20px;
}